.DS_Store
DerivedData/
DerivedDataRelease/
Driver/build-SauronAudio/
dist/
build/
*.xcuserstate
xcuserdata/
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM
.swiftpm/
.vscode/
.idea/
*.swp
.env
.env.*
Observer.xcodeproj/xcuserdata/
Observer.xcodeproj/project.xcworkspace/xcuserdata/
Sauron.xcodeproj/xcuserdata/
Sauron.xcodeproj/project.xcworkspace/xcuserdata/
